<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
  <li><%= message.from %>
    <ul>
      <li><%= link_to message.body, message_path(message) %></li>
    </ul>
  <% end %>
</ul>

<%= link_to "New Message", new_message_path %>
</br>
<%= link_to "Contact Index", contacts_path %>
